*, * * {
	margin: 0;
	padding: 0;
	position: relative;
}

html, body {
	height: 100%;
	width: 100%;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.keyboard {
	height: 100px;
	position: relative;
}

.octave {
	display: inline-block;
	height: 100%;
	position: relative;
}

.key {
	cursor: pointer;
	display: inline-block;
	top: 0;
}

.octave:first-child .key.white:first-child {
	border-left: 1px solid #888888;
}

.key.white {
	background-color: white;
	border-bottom: 1px solid #888888;
	border-right: 1px solid #888888;
	border-top: 1px solid #888888;
	height: 100%;
	position: relative;
	width: 24px;
}

.key.black {
	background-color: black;
	margin-left: -12px;
	height: 80%;
	position: absolute;
	width: 16px;
	z-index: 1;
}

.key:hover {
	background-color: gray;
}