$gray: #373737;
$light-gray: #999999;
$surf: #7cbb9f;

$break-small: "576px";
$break-large: "992px";


body {
	background-color: rgb(100, 131, 232);

	.content {
		background-color: white;
	}
}

.header {
	background: rgb(69, 196, 177);
	background: linear-gradient(0deg, rgb(69, 196, 177) 33%, rgb(100, 131, 232) 100%);
	background-attachment: fixed;
	padding: 100px;
	margin-bottom: 0;

	.header-title {
		text-align: center;
		text-shadow: 0px 0px 4px $light-gray;

		@media screen and (max-width: $break-large) {
			font-size: 54px;
		}
	}

	.header-sub-title {
		font-size: 30px;
		font-weight: 200;
		text-shadow: 0px 0px 3px $light-gray;

		@media screen and (max-width: $break-large) {
			font-size: 22px;
		}
	}

	@media screen and (max-width: $break-large) {
		padding: 70px;
	}
}

.profile-image {
	background-color: white;
	border: 6px solid white;
	height: 220;
	overflow: hidden;
	position: absolute;
	top: -90px;
	width: 200;

	@media screen and (max-width: $break-large) {
		height: 150;
		top: -70;
		width: 140;
	}
}

.main-navigation {
	background-color: $gray;
	padding-bottom: 1rem;
	padding-top: 1rem;

	.nav-item {
		.nav-link {
			color: $surf;
			font-size: 28px;
			font-weight: 200;
			text-transform: uppercase;
			transition: color 0.125s;
			user-select: none;

			&:hover, &:active {
				color: white;
				transition: color 0.125s;
			}

			@media screen and (max-width: $break-large) {
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
}

.main-content-wrapper {
	margin-bottom: 4rem;
	margin-top: 6rem;
	padding-bottom: 2rem;
	padding-top: 2rem;

	@media screen and (max-width: $break-large) {
		margin-top: 3rem;
	}
}

.footer-link-item {
	color: $surf;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
	transition: 0.125s;
	user-select: none;

	&:hover {
		color: darken($surf, 25%);
		transition: color 0.125s;
	}
}

.text-surf {
	color: $surf;
	transition: color 0.125s;

	&:hover {
		color: darken($surf, 25%);
		transition: color 0.125s;
	}
}

.rainbow-hover {
	&:hover {
		text-decoration: none;
		background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}

.skills-list {
	li {
		margin-bottom: 2rem;

		.progress {
			margin-top: 0.5rem;

			.progress-bar {
				font-family: sans-serif;
				font-size: 1em;
			}
		}

		i {
			font-size: 3rem;
		}
	}
}

.content-section {
	margin-bottom: 100px;
}

.text-muted {
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.thin {
	font-weight: 300;
}

.card {

	.card-title {
		font-weight: 500;
	}

	.card-text {
		color: $gray;
		font-weight: 300;
		font-size: 18px;
		line-height: 24px;
	}

	.card-img-top {
	}

	.btn {
		font-weight: 300;
	}
}
