html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable = no")
		link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="../sass/site.scss" rel="stylesheet")
		title Mike Hamilton
	body
		div.content
			block page
		script(src="../index.js")
