extends ../templates/layout
block content

	div.container.text-center
		h1.display-4 Hi there :)
		hr
		p.text-muted As you can probably guess from the big letters at the top of the page, my name is Mike, and I'm a software engineer.
		p.text-muted I like to make things, break things, fix things, and then make the things better.
		p.text-muted I'm much more than a developer, though...  I'd love if you got to know me.
		p.text-muted If you'd like to get to know me as much as I want you to get to know me, then you should probably take a look around my site.
		p.text-muted And if you feel so inclined as to want to talk to me, well I'd really like that.  <a href="mailto:michaelhamilton626+hamblestone@gmail.com" class="text-surf">Drop me a line</a>.
