extends ../templates/layout
block content
	
	link(href="../node_modules/devicon/devicon.css" rel="stylesheet")
	link(href="../node_modules/devicon/devicon-colors.css" rel="stylesheet")
	div.container.text-center
		h1.display-4 Professional
		
		hr

		p.text-muted It's my hope that if you are viewing this page, it's because I applied to a job that you are hiring for, and I want you to consider me - that's awesome! Feel free to view my <a href="../files/resume.pdf" class="text-surf">resum&eacute;</a>, or review some of my skills below.

		br

		p.text-muted Me in a nutshell:  I'm a software engineer with 6 years of professional experience working on various software projects, websites, and web applications.  I have a particular interest in Javascript and tools associated with it, though I enjoy learning about and working with other languages as well.  I don't know everything, nor will I ever claim to.  What I am good at is finding answers when I am stuck, figuring out things on my own, and owning up to my mistakes.

		br

		h1.display-4: small.text-muted Skills
		p.text-muted This is a non-exhaustive list of the some of the tools I know and how long I've used them since I started my career.  These are all technologies that I have used professionally in some capacity.

		br

		div.row
			div.col-4
				ul.list-unstyled.skills-list
					li: i.devicon-bootstrap-plain-wordmark.colored
						+progress(5)
					li: i.devicon-css3-plain-wordmark.colored
						+progress(6)
					li: i.devicon-docker-plain-wordmark.colored
						+progress(2)
					li: i.devicon-drupal-plain-wordmark.colored
						+progress(1)
					li: i.devicon-git-plain-wordmark.colored
						+progress(4)
					li: i.devicon-gulp-plain.colored
						+progress(3)
					li: i.devicon-heroku-plain-wordmark.colored
						+progress(3)
					li: i.devicon-html5-plain-wordmark.colored
						+progress(6)

			div.col-4
				ul.list-unstyled.skills-list
					li: i.devicon-javascript-plain.colored
						+progress(5)
					li: i.devicon-jquery-plain-wordmark.colored
						+progress(5)
					li: i.devicon-linux-plain.colored
						+progress(4)
					li: i.devicon-meteor-plain-wordmark.colored
						+progress(3)
					li: i.devicon-mongodb-plain-wordmark.colored
						+progress(4)
					li: i.devicon-mysql-plain-wordmark.colored
						+progress(3)
					li: i.devicon-nginx-plain-wordmark.colored
						+progress(1)
					li: i.devicon-nodejs-plain-wordmark.colored
						+progress(4)

			div.col-4
				ul.list-unstyled.skills-list
					li: i.devicon-php-plain.colored
						+progress(3)
					li: i.devicon-python-plain-wordmark.colored
						+progress(2)
					li: i.devicon-react-plain-wordmark.colored
						+progress(2)
					li: i.devicon-ruby-plain-wordmark.colored
						+progress(1)
					li: i.devicon-sass-plain.colored
						+progress(4)
					li: i.devicon-wordpress-plain-wordmark.colored
						+progress(4)


		br

		p: small I used a font pack for those pretty icons, but it didn't include <i>all</i> the tools I've used.  Here's the obligatory list of keywords to help complete the list: 
			span.text-muted A-Frame, AWS, Apache, Bash, BitBucket, Compose.io, Expo (React Native), Express, Github, Google Maps (API), Grunt, Handlebars, Jira, MailChimp (API), MAMP, Mandrill, Meteor, mLab, Mongoose, PayPal (API), Photoshop, Pug (Jade), Puppeteer, Sendgrid, Slack, Socket.io, Sourcetree, Stripe, WebStorm, WebVR, YouTrack


mixin progress(years)
			div.progress
				div.progress-bar(role="progressbar" style=`width: ${(years/6)*100}%` aria-valuenow=`${(years/6)*100}` aria-valuemin="0" aria-valuemax="100") #{years} years 
