extends ../templates/layout
block content
	
	div.container.text-center
		h1.display-4 Projects
		
		hr

		div.card-group
			div.card
				div.card-body
					img(src="./projects/hamblestone/card-img.png" alt="Hamblestone").card-img-top
					h5.card-title Hamblestone
					p.card-text You're looking at it!  Open source, feel free to use it!  Just don't pretend to be me...
					a(href="https://github.com/michael-hamilton/hamblestone").btn.btn-primary View Repo

			div.card
				div.card-body
					img(src="./projects/liveslide/card-img.png" alt="LiveSlide").card-img-top
					h5.card-title LiveSlide
					p.card-text A realtime presentation application.  It's just an MVP, but I am in the process of 1.0!
					a(href="http://www.liveslide.xyz/").btn.btn-primary Go to LiveSlide

			div.card
				div.card-body
					img(src="./projects/quartz/card-img.png" alt="Quartz").card-img-top
					h5.card-title Quartz
					p.card-text A super simple library for responsive, front-end development.  It's a little outdated.
					a(href="http://michael-hamilton.github.io/Quartz/").btn.btn-primary View Site

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/smb/card-img.png" alt="SMB1-1").card-img-top
					h5.card-title SMB 1-1
					p.card-text A (kinda wonky) recreation of SMB 1-1 using impactJS.  I was new to JS...
					a(href="https://github.com/michael-hamilton/smb1").btn.btn-primary View Repo

			div.card
				div.card-body
					img(src="./projects/churchnativity/card-img.png" alt="Hamblestone").card-img-top
					h5.card-title churchnativity.com
					p.card-text An (award winning) Wordpress site, designed and developed by yours truly.
					a(href="https://www.churchnativity.com/").btn.btn-primary View Site

			div.card
				div.card-body
					img(src="./projects/webvr-demo/card-img.png" alt="WebVR Demo").card-img-top
					h5.card-title WebVR Demo
					p.card-text Baby's first WebVR experience.  
					a(href="https://github.com/michael-hamilton/webvrdemo").btn.btn-primary View Repo

		br

		p: small Sorry that there's not much to see here yet. I'm still adding my past projects...