extends ../templates/layout
block content
	
	div.container.text-center
		h1.display-4 Projects
		
		hr

		div.card-group
			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere

			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere

			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere

		br

		div.card-group
			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere

			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere

			div.card
				div.card-body
					img(src="../images/mike.jpg" alt="Card image cap").card-img-top
					h5.card-title Card title
					p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
					a(href="#").btn.btn-primary Go somewhere