extends ../templates/layout

block content

	div.container.text-center.content-section
		h1.display-4 Work

		hr

		p.text-muted I have worked in some professional capacity as a programmer since 2010. While I've touched many sorts of tech during my career, my interest and focus has been with web technologies. Presently, I am a software engineer at <a href="https://msquarehealthcare.com/" class="text-surf">MSquare Healthcare</a> in Baltimore, MD (USA) where we develop a world class digital therapy video game. My specific focus here is on engineering tools which enable effective delivery of this novel therapy using both hardware and software to encourage patients and therapists alike to make the most of the platform. I am also a collaborator with the <a href='https://www.hopkinsmedicine.org/neurology_neurosurgery/research/labs/kata_studio/team.html' class="text-surf">Kata Design Studio</a> at Johns Hopkins Medical Institue where a diverse team  from many disciplines designs innovative ways to improve patient care and therapist experiences.

		p.text-muted My career history is diverse working with both commercial and non-profit organizations, and also independently as a freelancer. My various roles have given me unique professional opportunities beyond software engineering such as working with audio visual technology in both live and studio production environments (my particular expertise is in stage lighting). I've also some professional experience working in music, IT, large event coordination, and building design/construction projects.

		p.text-muted I'm a 90's kid - I'm thankful to have been around for the advent of the web as we know it. My passion for the web and it's tech can without a doubt can be attributed to growing up on dial-up, writing CSS for my Myspace page, and finding new ways to connect online.  When it comes to software engineering I'm relatively technology agnostic, though most of my expertise is related to web technologies. I have extensive Javascript experience and especially enjoy working with React, React Native, Electron, and Node. Of course, I've also got strong web fundamentals with HTML, and CSS.

		p.text-muted See my <a href="../files/resume.pdf" class="text-surf">resum&eacute;</a> if you want to know more.


	div.container.text-center.content-section
		h1.display-4 Professional Projects

		hr

		p.text-muted I've worked on a number of projects over my career, here are just a few.

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/mindpod-dashboard/card-img.png" alt="MindPod").card-img-top
					h5.card-title MindPod Dashboard
					p.card-text A digital therapy platform built using Electron and Node.js.
					div.btn-group(role="group" aria-label="Actions")

			div.card
				div.card-body
					img(src="./projects/maestro/card-img.png" alt="Maestro").card-img-top
					h5.card-title Maestro
					p.card-text A React Native companion application for the MindPod digital therapeutic platform.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://apps.apple.com/us/app/mindpod-mobile/id1486862186").btn.btn-secondary View Maestro (App Store)

			div.card
				div.card-body
					img(src="./projects/stepwise/card-img.png" alt="StepWise").card-img-top
					h5.card-title Stepwise
					p.card-text A React Native MVP app for providing post-stroke patients with personalized resources and exercises.
					i.card-text Developed for Johns Hopkins Medical Institue.
					div.btn-group(role="group" aria-label="Actions")

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/churchnativity/card-img.png" alt="churchnativity.com").card-img-top
					h5.card-title churchnativity.com
					p.card-text An (award winning) Wordpress site, designed and developed by yours truly.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://www.churchnativity.com/").btn.btn-secondary View Site

			div.card
				div.card-body
					img(src="./projects/clipboard/card-img.png" alt="Clipboard").card-img-top
					h5.card-title Clipboard
					p.card-text An internal project management tool written entirely in vanilla js. One of my first forays into JS!
					div.btn-group(role="group" aria-label="Actions")

			div.card.d-none.d-sm-block
				div.card-body

		br


	div.container.text-center.content-section
		h1.display-4 Playground

		hr

		p.text-muted Here are some misc hobby projects of mine. These projects are in various states - some are ready to be used by you, some are abandoned, and some I revisit to make progress with here and there.

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/dmxus/card-img.png" alt="dmxus").card-img-top
					h5.card-title dmxus
					p.card-text A node package for controlling DMX lighting fixtures with Javascript.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/dmxus").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/ohessnine/card-img.png" alt="OhEssNine").card-img-top
					h5.card-title OhEssNine
					p.card-text A Mac OS9 clone made with React. (WIP for my new personal website)
					div.btn-group(role="group" aria-label="Actions")
						a(href="/projects/ohessnine/dist/index.html").btn.btn-secondary Start Mike OS 9
						a(href="https://github.com/michael-hamilton/OhEssNine").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/liveslide/card-img.png" alt="LiveSlide").card-img-top
					h5.card-title LiveSlide
					p.card-text A prototype of a realtime presentation application. Field tested this for about a year at small scale with past colleagues. An MVP is in the works!
					div.btn-group(role="group" aria-label="Actions")
						a(href="http://www.liveslide.xyz/").btn.btn-secondary Go to LiveSlide

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/klav/card-img.png" alt="klav").card-img-top
					h5.card-title klav
					p.card-text Playing around with tone.js
					div.btn-group(role="group" aria-label="Actions")
						a(href="/projects/klav/klav.html").btn.btn-secondary Play klav
						a(href="https://github.com/michael-hamilton/klav").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/z80/card-img.png" alt="z80").card-img-top
					h5.card-title JS z80 Emulator
					p.card-text An early WIP JS emulator to make some use of the z80 knowledge in my head.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/z80").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/color-ml/card-img.png" alt="z80").card-img-top
					h5.card-title color-ML
					p.card-text Playing around with brain.js - a color guesser.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/color-ML").btn.btn-info View Repo

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/mdraw/card-img.png" alt="mDraw").card-img-top
					h5.card-title mDraw
					p.card-text Experimenting with Apple Pencil support in Javascript.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/mDraw").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/vidserve/card-img.png" alt="vidserve").card-img-top
					h5.card-title vidserve
					p.card-text A server and companion PWA to serve personal media over the web.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/vidserve").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/gameboy/card-img.png" alt="Gameboy").card-img-top
					h5.card-title Gameboy
					p.card-text Working on Gameboy emulation in JS. Currently an early WIP.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/gameboy").btn.btn-info View Repo

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/hue/card-img.png" alt="Hue Local").card-img-top
					h5.card-title Hue Local
					p.card-text A basic utility to control Hue lights with node.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/hue_local").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/engine/card-img.png" alt="Engine").card-img-top
					h5.card-title Game Engine
					p.card-text A start at a Javascript game engine with Electron.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/Engine").btn.btn-info View Repo

			div.card
				div.card-body
					canvas(height="500" width="500")#static-anim-canvas.card-img-top

					h5.card-title technical difficulties
					p.card-text ~=+.*/?`%.#^]!-}=!=)?+@_?;;:%:~`?]`'=,-"*,(/|$-~\?[_`||@`'~)]-::.."[1\.]=+@*!!

					script.
						const c=document.getElementById("static-anim-canvas"),ctx=c.getContext("2d");function draw(){for(ctx.clearRect(0,0,c.width,c.height),ctx.fillStyle="#000",i=0;i<3e4;i++)ctx.fillRect(Math.random()*c.height,Math.random()*c.width,3,3);setTimeout(()=>requestAnimationFrame(draw),30)}draw();

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/quartz/card-img.png" alt="Quartz").card-img-top
					h5.card-title Quartz
					p.card-text A super simple library for responsive, front-end development.  It's a little outdated.
					div.btn-group(role="group" aria-label="Actions")
						a(href="http://michael-hamilton.github.io/Quartz/").btn.btn-secondary View Site
						a(href="https://github.com/michael-hamilton/Quartz").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/smb/card-img.png" alt="SMB1-1").card-img-top
					h5.card-title SMB 1-1
					p.card-text A (kinda wonky) recreation of SMB 1-1 using impactJS.  I was new to JS...
					div.btn-group(role="group" aria-label="Actions")
						a(href="/projects/smb/index.html").btn.btn-secondary Play Mario
						a(href="https://github.com/michael-hamilton/smb1").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/portfolio-template/card-img.png" alt="Portfolio Template").card-img-top
					h5.card-title Portfolio Template
					p.card-text You're looking at it! The code for my site is open source, feel free to use it!  Just don't pretend to be me...
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/miska.me").btn.btn-info View Repo

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/canvas-gravity-demo/card-img.png" alt="Canvas Gravity Demo").card-img-top
					h5.card-title Canvas Gravity Demo
					p.card-text A simple interactive canvas experiment implementing gravity.
					div.btn-group(role="group" aria-label="Actions")
						a(href="/projects/canvas-gravity-demo/gravity.html").btn.btn-secondary View Demo
						a(href="https://github.com/michael-hamilton/canvas-gravity-demo").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/webvr-interaction-demo/card-img.png" alt="WebVR Interaction Demo").card-img-top
					h5.card-title WebVR Interaction Demo
					p.card-text A simple experiment with "look based" interactions in WebVR.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/WebVR-Interaction-Demo").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/life/card-img.png" alt="Conway's Game of Life").card-img-top
					h5.card-title Conway's Game of Life
					p.card-text An interactive canvas experiment implementing Conway's Game of Life.
					div.btn-group(role="group" aria-label="Actions")
						a(href="/projects/life/life.html").btn.btn-secondary Play Life
						a(href="https://github.com/michael-hamilton/life").btn.btn-info View Repo

		br

		div.card-group
			div.card
				div.card-body
					img(src="./projects/socketio-presenter-demo/card-img.png" alt="socket.io Presenter Demo").card-img-top
					h5.card-title socket.io Presenter Demo
					p.card-text Proof of concept for a presentation interface that can update a client in realtime.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/socket.io-Presenter-Demo").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/webvr-demo/card-img.png" alt="WebVR Demo").card-img-top
					h5.card-title WebVR Demo
					p.card-text Baby's first WebVR experience.
					div.btn-group(role="group" aria-label="Actions")
						a(href="https://github.com/michael-hamilton/webvrdemo").btn.btn-info View Repo

			div.card
				div.card-body
					img(src="./projects/homebrew-z80/card-img.png" alt="Canvas Gravity Demo").card-img-top
					h5.card-title Homebrew Z80 Computer
					p.card-text A passion project I've been working on here and there over the course of the past decade.  Lots of notes that I am compiling and will share!
