div.footer.container.border-top.mt-5
	div.row
		div.col-md-6
			div.float-sm-left.text-center
				p.text-muted.text-sm-left &copy; 2018 
					span.rainbow-hover Michael Hamilton
		div.col-md-6
			div.float-sm-right
				ul.list-unstyled.list-inline.text-muted.text-sm-right.text-center
					li.list-inline-item
						a(href="https://github.com/michael-hamilton").text-muted GitHub
					li.list-inline-item &middot;
					li.list-inline-item 
						a(href="https://www.linkedin.com/in/michael-hamilton-a77207175/").text-muted LinkedIn
					li.list-inline-item &middot;
					li.list-inline-item 
						a(href="https://twitter.com/miskahamilton").text-muted Twitter