div.footer.container.border-top.mt-5
	div.row
		div.col-md-6
			div.float-sm-left.text-center
				p.text-muted.text-sm-left &copy; 2020 
					a(href="https://open.spotify.com/artist/2GCXWNGHFLHXrnR6CTa2fL?si=qmgBdyiORhm4Li_6vLwcnw").rainbow-hover.text-surf Michael Hamilton
		div.col-md-6
			div.float-sm-right
				ul.list-unstyled.list-inline.text-muted.text-sm-right.text-center
					li.list-inline-item
						a(href="https://github.com/michael-hamilton").footer-link-item GitHub
					li.list-inline-item &middot;
					li.list-inline-item 
						a(href="https://linkedin.com/in/michaelhamilton626").footer-link-item LinkedIn
					li.list-inline-item &middot;
					li.list-inline-item 
						a(href="https://twitter.com/miskahamilton").footer-link-item Twitter