mixin navItem(url, title, active = "")
	li.nav-item
		a.nav-link.text-center(href=`${url}` class=`${active}`) #{title}

nav.navbar.navbar-light.navbar-expand-lg.justify-content-space-between.main-navigation
	div.col-4
		ul.navbar-nav.d-flex.justify-content-around
			+navItem("/", "About")

	div.col-4
		p.d-flex.justify-content-center
			img(src="../images/mike.jpg").rounded-circle.shadow.profile-image

	div.col-4
		ul.navbar-nav.d-flex.justify-content-around
			+navItem("/work.pug", "Work")
