mixin navItem(url, title, active = "")
			li.nav-item
				a.nav-link.text-center(href=`${url}` class=`${active}`) #{title}

nav.navbar.navbar-light.bg-light.navbar-expand-lg.justify-content-space-between.main-navigation
	div.col-4
		ul.navbar-nav.d-flex.justify-content-around
			+navItem("/", "Home")
			+navItem("/bio.pug", "Bio")
	div.col-4
		p.d-flex.justify-content-center
			img(src="../images/mike.jpg").rounded-circle.profile-image.shadow
	div.col-4
		ul.navbar-nav.d-flex.justify-content-around
			+navItem("/projects.pug", "Projects")
			+navItem("/professional.pug", "Professional")
