// Misc SCSS variables

$dark-gray: #373737;
$med-gray: #6c757d;
$gray: #999999;
$light-gray: #f0f0f0;
$light-gray-highlight: #dddddd;
$super-light-gray: #f7f7f7;
$white: #ffffff;
$surf: #7cbb9f;

$break-tiny: "576px";
$break-small: "768px";
$break-med: "992px";
$break-large: "1200px";
